@import "tailwindcss";

.container {
  max-width: 80rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.mainContainer {
  margin-top: 2rem;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 11.2rem);
}

.AppBody {
  flex: 1;
}
